body {
  background-color: #000000;
}

.shiny-progress .progress {
  height: 12px;
}

.shiny-progress .bar {
  background-color: #ff8800;
  opacity: 1.0;
}

/* Workaround for Qt, which doesn't use font fallbacks */
code {
  background-color: #000000;
  color: #ff8800;
}

p {
  text-align: justify;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
