.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  *background-image:url('./img/Alaska_Snow_Storm_mar_18_2002.jpg');
  background-size: cover;
  border: 1px solid #1a1a1a;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.shiny-progress .bar {
*background-color: #FF0000;
.opacity = 1.0;
}
.shiny-progress .progress {
height:10px;
}