.well {
  border: 1px solid #cccccc;
}

.shiny-progress .progress {
  height: 12px;
}

.shiny-progress .bar {
  background-color: #9933cc;
  opacity: 1.0;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
